/*border colors*/
.blueBdr {
	border:1px solid#54b7ff;
}

.yellowBdr {
	border:1px solid #F49D2C;
}

.greenBdr {
	border:1px solid #42ae18;
}

.redBdr {
	border:1px solid #d74726;
}

.purpleBdr {
	border:1px solid #8d33aa;
}

.orangeBdr {
	border:1px solid #e9681b;
}

.whiteBdr {
	border:1px solid #fff;
}

.blackBdr {
	border:1px solid #000;
}
/*end border colors*/

/*colors*/
.white {
	color:#FFF; 
}

.blue {
	color:#54b7ff;
}

.yellow {
	color:#F49D2C;
}

.green {
	color:#42ae18;
}

.red {
	color:#d74726;
}

.purple {
	color:#8d33aa;
}

.orange {
	color:#e9681b;
}

.black {
	color: #000;
}
/*end colors*/

/*bg colors*/
.whitebg {
	background-color: #fff;
}

.blackbg {
	background-color: #000;
}

.bluebg, .blue::after{
	background-color:#54b7ff;
}

.yellowbg, .yellow::after{
	background-color:#F49D2C;
}

.greenbg, .green::after {
	background-color:#42ae18;
}

.redbg, .red::after {
	background-color:#d74726;
}

.purplebg, .purple::after {
	background-color:#8d33aa;
}

.orangebg, .orange::after {
	background-color:#e9681b;
}

.pagebg {
	/*background-color: #fcffb8; /*#faf5fb*/
	background-color: #f7f4f7; /* fcffb8*/
}
/*end bg colors*/

/*other colors*/
.text_color {
	color: #272727;
}

.side_text_color {
	color: #b8b8b8;
}

a:visited {
    color: blue;
}

a:hover {
    color: #043bcf;
}
/*end other colors*/